body{
    background-color: #cce9f7;
}
.ourtheory{
    text-align: center;
   margin-top: 105px;
   font-size: 54px;
   font-weight: initial;
}
.theoryoflocation{
    margin-left: 250px;
    margin-right: 250px;
   font-size: 21px;
   font-weight: inherit;
}
button:hover{
    background-color: rgb(45, 77, 137);
    color: bisque;
}
.box11{
    background-color: #cce9f7 !important;
    padding: 0px;
    margin-top: -18px;
    height: 103px;
  
}
.box1{
    display: inline-block;
    margin: 29px;
}
  
.navbar{
    display: block;
    text-align: right;
    background-color: rgb(45, 77, 137);
    height: 59px;
    width: 912px;
    border-radius: 7px;
    padding: 5px;
    margin-left: 470px;
    margin-top: -113px;
}
  
.navbar ul{
    overflow: auto;
}
.navbar li{
   float: left;
   list-style: none;
}
.navbar li a{
    padding: 25px 25px;
    text-decoration: none;
    color: bisque;
}